<div class="row">
  <div class="col-md-4">
    <%= button_to 'New Newspaper box',build_newspaper_bases_path(table_type: 'NewspaperHand'), class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <%= button_to 'Export Data', export_data_newspaper_boxes_path, method: :get, class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <strong class="amount-text">Boxes Amount: <%= NewspaperHand.count%></strong>
  </div>
</div>
</br>