h1 Newspaper Box Histories

= table_for @histories, html: {class:'table table-border table-hover table-striped'} do
  - columns :newspaper, :box, :zipcode, :zip_sum, :borough, :borough_sum, :city, :city_sum