h1 報紙發行趨勢圖

h3 報箱報紙週發行量
#box_chart

h3 手發報紙週發行量
#hand_chart

= javascript_include_tag "https://www.google.com/jsapi"

javascript:
  google.load('visualization', '1', {packages: ['corechart', 'line']});

  $(document).ready(function(){
    $.getJSON('/histories/trend', { box_type: 'NewspaperBox' }).done(function(records){
      records = convertData(records);
      google.setOnLoadCallback(drawChart(records, 'box_chart'));
    });

    $.getJSON('/histories/trend', { box_type: 'NewspaperHand' }).done(function(records){
      records = convertData(records);
      google.setOnLoadCallback(drawChart(records, 'hand_chart'));
    });
  })

  function convertData(records){
    result = [];
    records.forEach(function(r){
      result.push([new Date(r[0]), r[1]])
    });
    return result;
  }

  function drawChart(records, div_id){
    var data = new google.visualization.DataTable();
    data.addColumn('date', '日期');
    data.addColumn('number', '報箱報紙');

    data.addRows(records);

    var options = {
    hAxis: {
      title: '日期'
    },
    vAxis: {
      title: '報紙總量'
    }
    };

    var chart = new google.visualization.LineChart(document.getElementById(div_id));

    chart.draw(data, options);
  }
