<div class="row">
  <div class="col-md-4">
    <%= button_to "New #{newspaper_display_by_type}", eval("new_" + "#{controller.controller_name.singularize}" + "_path"), method: :get,  class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <%= button_to 'Export Data', export_data_newspaper_boxes_path, method: :get, class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <strong class="amount-text">Amount: <%= @newspaper_amount %></strong>
  </div>
</div>
</br>