<div class="row">
  <div class="col-md-4">
    <%= button_to "New #{newspaper_display_by_type}", newspaper_new_path, method: :get,  class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <%= button_to 'Export Data', "#{controller.controller_name}/export_data", method: :get, class:"btn btn-default"%>
  </div>
  <div class="col-md-4">
    <strong class="amount-text">Amount: <%= @newspaper_amount %></strong>
  </div>
</div>
</br>