// Place all the styles related to the newspaper_boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select-bar {
  margin: 20px;
}

.location_info {
  font-size: 16px;
  margin-left: 20px;
  span {
    font-size: 16px;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container {
  width:90%;
  margin:0 auto;
  .box-list {
    overflow: auto;
    table {
      width:100%;
      td {
        height: 40px;
        overflow: hidden;
      }
    }
  }
}

.map-info {
  margin-bottom: 10px;
  .icon-marks {
    span {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
